.Button {
    padding: 10px 15px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    cursor: pointer;
    border-radius: 8px;
    border: none;
    outline: none;
}

.Button:hover{
    background: transparent;
    outline: var(--tg-theme-button-color);
}
